name: bitwarden

services:
  bitwarden:
    image: vaultwarden/server:latest-alpine
    platform: linux/arm64
    restart: always
    container_name: bitwarden
    depends_on:
      - proxy
    volumes:
      - ./bitwarden:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      DOMAIN: "https://${DOMAIN}"
      IP_HEADER: X-Real-IP
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      SIGNUPS_ALLOWED: ${SIGNUPS_ALLOWED}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_FROM: ${SMTP_FROM}
      SMTP_FROM_NAME: Bitwarden (${DOMAIN})
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SECURITY: ${SMTP_SECURITY}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      PUSH_ENABLED: ${PUSH_ENABLED}
      PUSH_INSTALLATION_ID: ${PUSH_INSTALLATION_ID}
      PUSH_INSTALLATION_KEY: ${PUSH_INSTALLATION_KEY}
      YUBICO_CLIENT_ID: ${YUBICO_CLIENT_ID}
      YUBICO_SECRET_KEY: ${YUBICO_SECRET_KEY}
      YUBICO_SERVER: ${YUBICO_SERVER}
      ORG_CREATION_USERS: ${ORG_CREATION_USERS}
      TZ: ${TZ}

  proxy:
    image: caddy:2-alpine
    platform: linux/arm64
    restart: always
    container_name: proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./caddy/config_file:/etc/caddy:ro
      - ./caddy/data:/data
      - ./caddy/config:/config
    environment:
      DOMAIN: ${DOMAIN}
      EMAIL: ${EMAIL}
      TZ: ${TZ}

  ddns:
    image: lscr.io/linuxserver/ddclient
    platform: linux/arm64
    restart: always
    container_name: ddns
    depends_on:
      bitwarden:
        condition: service_healthy
    volumes:
      - ./ddns:/config
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}

  fail2ban:
    image: crazymax/fail2ban:latest
    platform: linux/arm64
    restart: always
    container_name: fail2ban
    depends_on:
      bitwarden:
        condition: service_healthy
    volumes:
      - ./fail2ban:/data
      - ./bitwarden:/bitwarden:ro
      - /var/log:/var/log:ro
    environment:
      TZ: ${TZ}

watchtower:
    image: containrrr/watchtower:latest
    platform: linux/arm64
    restart: always
    container_name: watchtower
    depends_on:
      bitwarden:
        condition: service_healthy
    volumes:
      - /var/run/apple-container.sock:/var/run/docker.sock 
    environment:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_SCHEDULE: ${WATCHTOWER_SCHEDULE}
      TZ: ${TZ}
